!!! 5
%html
%head
  %title Instagramm
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag

%body
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      .navbar-brand= link_to "Instagramm", root_path
      .collapse.navbar-collapse
        - if user_signed_in?
          %ul.navbar-nav
            %li.nav-item.navcollapse
              = link_to "Gram It!", new_pic_path
            %li.nav-item.navcollapse
              = link_to "Settings", edit_user_registration_path
            %li.nav-item.navcollapse
              = link_to "Sign Out", destroy_user_session_path, method: :delete

        - else
          %ul.navbar-nav
            %li.nav-item.navcollapse
              = link_to "Join", new_user_registration_path
            %li.nav-item.navcollapse
              = link_to "Log In", new_user_session_path

  .container
    -flash.each do |name, msg|
      =content_tag :div, msg, class: "alert alert-info"

    = yield
